@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button {
  background: rgba(77, 91, 158, 1);
  border: 0;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  margin-top: 1.5em;
  text-align: center;
}
.large__button {
  @extend .button;
  height: 52px;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 1.1em;
  position: relative;
  width: 193px;
}
.disabled__button {
  @extend .large__button;
  opacity: 0.5;

  &::after {
    animation: loading 2s ease-in-out infinite;
    color: rgba(77, 91, 158, 1);
    content: 'loading';
    font-size: 0.8rem;
    position: absolute;
    left: 50%;
    translate: -50% 0;
    top: 50px;
  }
}
.quiz__button {
  @extend .button;
  border-radius: 10px;
  height: 35px;
  font-size: 0.75em;
  font-weight: 500;
  line-height: 0.75em;
  width: 120px;
}
