.answer {
  border: 1px solid #4d5b9e;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.75em;
  font-weight: 400;
  min-height: 32px;
  line-height: 1.3em;
  margin-right: 15px;
  margin-bottom: 20px;
  padding: 6px;
  width: 100%;
  text-align: center;
}

.answer__selected {
  @extend .answer;
  background: #4d5b9e;
  color: #d6dbf5;
}

//.answer__correct {
//  @extend .answer;
//  background: #94d7a2;
//  border-color: #d6dbf5;
//}

.answer__wrong {
  @extend .answer;
  background: #f8bcbc;
  border-color: #f8bcbc;
  opacity: 0.5;
}
